.header {
  border-bottom: 1px solid rgb(167, 166, 166);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: 'Montserrat';
}
.header_text {
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.Warface {
  font-family: 'BBH Sans Bartle';
  font-size: 28px;
  color: rgb(16, 80, 153);
  margin: 0;
  user-select: none;
}
.you_have_1_try {
  display: flex;
  align-items: center;
  gap: 25px;
}
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(16, 80, 153);
  user-select: none;
}
.text,
.text_0 {
  font-family: 'Montserrat';
  text-decoration: none;
  color: black;
  font-size: 16px;
  padding: 5px 15px;
}
.text {
  border-right: 1.5px solid rgb(197, 197, 197);
}
.header_lower {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
  border-top: 1px solid #ccc;
  user-select: none;
}
.logo {
  height: 100px;
  width: 100px;
  user-select: none;
}
form {
  display: flex;
  align-items: center;
  gap: 0;
}
.search {
  height: 40px;
  width: 600px;
  border: 2px solid rgb(16, 80, 153);
  border-right: 0;
  border-radius: 10px 0 0 10px;
  padding-left: 10px;
  font-family: 'Montserrat';
  font-size: 17px;
}
.search::placeholder {
  color: #777;
}
.select {
  height: 40px;
  border: 2px solid rgb(16, 80, 153);
  border-right: 0;
  border-left: 0;
  background: none;
  font-family: 'Montserrat';
  font-size: 15px;
}
.button_search {
  width: 50px;
  height: 40px;
  background: rgb(16, 80, 153);
  border: 2px solid rgb(16, 80, 153);
  border-left: 0;
  border-radius: 0 10px 10px 0;
  color: white;
  cursor: pointer;
}
.icon_search {
  color: white;
  font-size: 22px;
}
.icon_2 {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 30px;
  color: rgb(16, 80, 153);
}
@keyframes slide {
    0% { margin-left: 0; }
    33% { margin-left: 0; }
    40% { margin-left: -100%; }
    70% { margin-left: -100%; }
    75% {margin-left: -200%;}
    100% {margin-left: -200%;}
    
}

.slider {
  margin-top: 50px;
  width: 600px;
  height: 350px;
  overflow: hidden;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.slides {
    display: flex;
    width: 300%; /* для 3 слайдов */
    height: 100%;
    transition: margin-left 0.8s ease;
}

.slide {
    width: 33.33%; /* три слайда — делим на 3 */
    transition: 0.6s;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navigation-manual {
  position: absolute;
  width:100%;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}
.manual-btn {
  border:2px solid #fff;
  padding:5px;
  border-radius: 50%;
  cursor: pointer;
  transition:0.3s;
  margin:0 5px;
}
.manual-btn:hover {
  background:#fff;
}
/* Скрываем радиокнопки */
input[type="radio"] {
  display: none;
}

/* Управление позицией слайдов */
#radio1:checked ~ .slides {
  margin-left: 0;
}

#radio2:checked ~ .slides {
  margin-left: -100%;
}

#radio3:checked ~ .slides {
  margin-left: -200%;
}

/* Плавная анимация при переключении */
.slides {
  transition: margin-left 0.8s ease;
}

.buttons {
  
  margin-top: 50px;
  display: grid;
  width: 250px;
  height:350px;
  border:3px solid rgb(16, 80, 153);
  border-radius: 20px;
}
.buttons button {
  font-family:'Prosto One' ;
  background: none;
  border:0;
}
.buttons_text {
  font-size: 20px;
  margin-bottom: 0px;
  padding:15px 0 0 0 ;
  border-radius:20px 20px 0px 0px;
  margin-top:-6px;
  height:40px;
  background-color: rgb(16, 80, 153);
  text-align: center;
  color:white;
  font-family: 'Tektur';
}
.buttons button:hover {
  background-color: rgb(16, 80, 153);
  color:white;
  transition: 1s;
  font-size: 17px;
}
.warface_mp4 {
  margin-top:40px;
  border-radius: 20px;
}
.body_2 {
  display: flex;
  justify-content:center;
  align-items: center;
  gap:150px;
  user-select: none;
}
.last_button:hover {
border-radius: 0 0 14px 14px;
}
.body_3 {
  flex-wrap: wrap;
  object-fit: contain;
  text-align: center;
  margin-top: 50px;
  padding:20px;
  justify-self: center;
  border:2px solid rgb(168, 168, 168);
  border-radius: 30px;
  width:71.9%;
  height:770px;
  display: flex;
  gap:20px;
}
.container {
  border-radius: 30px;
  border:2px solid rgb(168, 168, 168);
  text-align: center;
  width: 250px;
  height: 370px;
}
.gun {
  width:200px;
  height: 200px;
  border-radius:0px 0px 20px 20px;
  border-top: 0;
  user-select: none;
}
.image_container {
  border-bottom:2px solid rgb(161, 161, 161);
}
.image_text {
  font-family: 'Tektur';
}
.cost_now {
  letter-spacing: 3px;
  color:rgb(223, 142, 51);
  font-size: 20px;
  font-family:'Russo One' ;
}
.cost_before {
  letter-spacing:3px;
  color:rgb(161, 161, 161);
  text-decoration: line-through;
  font-size: 20px;
  font-family:'Russo One' ;
}
.button_1 {
  background-color: rgb(16, 80, 153);
  color: #fff;
  font-family: 'Tektur';
  border:0;
  width:110px;
  height:35px;
  border-radius: 20px;
}
.button_1:hover {
  background-color: black;
  transition: 1s;
  font-size: 16px;
}
footer {
  border-top:2px solid rgb(189, 188, 188);
  margin-top:35px;
  display: flex;
  justify-content: center;
  gap:20%;
  font-family:'Montserrat' ;
  margin-top:45px;
  padding:45px 0 0 0;
}
.footer-links {
  width:300px;
}
.footer-info {
  width:300px;
  
}
.footer-contact {
  width: 300px;
}
.footer_icons {
  justify-self: center;
  
}
footer a{
  color:black;
  text-decoration: none;
}
footer a:hover {
  transition: 1s;
  color:rgb(16, 80, 153);
  font-size: 17px;
}
.text_page1 {
  justify-self: center;
}
.text_231{
  font-family: 'Stalinist One';
  font-size: larger;
}
.text_page2 {
  justify-self: center;

}
.text_90 {
  font-family: 'Stalinist One';
  font-size: larger;
}
.logow {
  height: 250px;
  width:250px;
}
.winner {
  gap:50px;
  padding:50px;
  display: grid;
  justify-content: center;
}
input {
  border:2px solid rgb(16, 80, 153);
  border-radius: 20px;
  width:250px;
  height: 45px;
  padding:0 0 0 10px;
  font-family: 'Tektur';
  font-size: 20px;
}
.button_submit {
  background-color: rgb(16, 80, 153);
  color: #fff;
  font-family: 'Tektur';
  border:0;
  width:110px;
  height:35px;
  border-radius: 20px;
}
.button_submit:hover {
  background-color: black;
  transition: 1s;
  font-size: 16px;
}
.text_slide {
  position: absolute;
  bottom: 10px;
  background-color: white;
  font-family: 'BBH Sans Bartle';
  padding: 10px 20px;
  border-radius: 0 8px 8px 0px;
  max-width: 70%;
}